.navbar-nav li, .pagination a {
	cursor: pointer !important;
}

.clearfix {
	margin-bottom: 10px;
}

select {
	width: 100% !important;
}

.no-close .ui-dialog-titlebar-close {display: none }

/* datatable init */
.dataTables_info {
	float: left;
}

/* datatable end */

#loading {
	overflow: hidden;
}

#loading > img {
	margin-top: -110px;
}

.margin-top {
	margin-top: 50px
}