<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security pre-post-annotations="enabled">
		<expression-handler ref="expressionHandler"/>
	</global-method-security>
	
	<http pattern="/resources/**" security="none"/>
	
	<beans:import resource="spring-acl.xml"/>

	<http auto-config="true" use-expressions="true">

		<logout 
			invalidate-session="true"
			delete-cookies="JSESSIONID" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service
				data-source-ref="dataSource"
				group-authorities-by-username-query=
					"select g.id, g.group_name, ga.authority
					from groups g, group_members gm, group_authorities ga
            		where gm.username = ?
           			and g.id = ga.group_id
            		and g.id = gm.group_id"/>
		</authentication-provider>
	</authentication-manager>
</beans:beans>